<footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>oLib &copy; 2019-2020</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Version 1.0.0</p>
        </div>
      </div>
    </div>
  </footer>