<div class="col-md-12 col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="media align-items-center"><span style="background-image: url(/img/lib-icon.png)"
            class="avatar avatar-xl mr-3"></span>
          <div class="media-body overflow-hidden">
            <h5 class="card-text mb-0">Quy định 1</h5>
          </div>
        </div><a href="/rules/edit/1" class="tile-link"></a>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="media align-items-center"><span style="background-image: url(/img/lib-icon.png)"
            class="avatar avatar-xl mr-3"></span>
          <div class="media-body overflow-hidden">
            <h5 class="card-text mb-0">Quy định 2</h5>
          </div>
        </div><a href="/rules/edit/1" class="tile-link"></a>
      </div>
    </div>
  </div>