<div class="table-responsive">
  <table id="books" style="width: 100%;" class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã sách</th>
        <th>Tên sách</th>
        <th>Thể loại</th>
        <th>Tác giả</th>
        <th>Tình trạng</th>
      </tr>
    </thead>
    <tbody>
      <% book.forEach(function (b){ %>
      <tr>
        <td>#</td>
        <td><%= b['id'] %></td>
        <td><%= b['name'] %></td>
        <td><%= b['type.name'] %></td>
        <td><%= b['author'] %></td>
        <td>#</td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>