<div class="col-sm-2">
  <button type="button" class="btn btn-primary"
  onclick="location.href='/books/add-type'">Thêm loại sách
    <i class="fa fa-plus-square"></i>
  </button>
</div>
<div class="col-sm-2">
  <button type="button" class="btn btn-primary"
  onclick="location.href='/books/add-book'">Thêm sách
    <i class="fa fa-plus-square"></i>
  </button>
  <span class="text" style="color: red;">2 nút này dành riêng cho thủ thư, ko dành cho độc giả</span>
</div>