<div class="table-responsive">
    <table id="lendings" style="width: 100%;" class="table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã độc giả</th>
          <th>Họ tên</th>
          <th>Email</th>
          <th>Ngày lập thẻ</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
      </thead>
      <tbody id="readerList">
      </tbody>
    </table>
  </div>