<span class="text" style="color: red;">Bảng cho thủ thư</span>
<div class="table-responsive">
    <table id="lendings" style="width: 100%;" class="table">
      <thead>
        <tr>
          <th>Mã độc giả</th>
          <th>Tên độc giả</th>
          <th>Mã sách</th>
          <th>Tên sách</th>
          <th>Ngày yêu cầu</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/readers/edit/1" class="text-muted">Nielsen Cobb</a></td>
          <td><a href="/lendings/my-lendings/info/1" class="text-muted">Nielsen Cobb</a></td>
          <td>Memora</td>
          <td>nielsencobb@memora.com</td>
          <td>+1 (851) 552-2735</td>
          <td>
            <a href="/lendings/edit/1" data-toggle="tooltip" title="Chỉnh sửa">
              <i class="fa fa-wrench"></i></a>
            &#x2758
            <a href="/lendings/remove/1" data-toggle="tooltip" title="Xóa" onclick="confirm('Xác nhận trước khi xóa');">
              <i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
          <td><a href="/readers/edit/1" class="text-muted">Nielsen Cobb</a></td>
          <td><a href="/lendings/my-lendings/info/1" class="text-muted">Margret Cote</a></td>
          <td>Zilidium</td>
          <td>margretcote@zilidium.com</td>
          <td>+1 (893) 532-2218</td>
          <td>
            <a href="/lendings/edit/1" data-toggle="tooltip" title="Chỉnh sửa">
              <i class="fa fa-wrench"></i></a>
            &#x2758
            <a href="/lendings/remove/1" data-toggle="tooltip" title="Xóa" onclick="confirm('Xác nhận trước khi xóa');">
              <i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>