<div class="table-responsive">
  <table id="lendings" style="width: 100%;" class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Sách</th>
        <th>Thể loại</th>
        <th>Tác giả</th>
        <th><i class="fa fa-cog"></i></th>
      </tr>
    </thead>
    <tbody id="bookList">
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-12" style="text-align: right;padding-right: 4%;padding-top:2%">
    <a id="addBook" style="cursor: pointer;color:green"><i class="fa fa-plus-square">Thêm sách</i></a>
  </div>
</div>