<div class="table-responsive">
    <table id="lendings" style="width: 100%;" class="table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Sách</th>
          <th>Thể loại</th>
          <th>Tác giả</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Memora</td>
          <td><a href="/books/info/1" class="text-muted">Nielsen Cobb</a></td>
          <td>nielsencobb@memora.com</td>
          <td>+1 (851) 552-2735</td>
        </tr>
        <tr>
          <td>Zilidium</td>
          <td><a href="/books/info/1" class="text-muted">Margret Cote</a></td>
          <td>margretcote@zilidium.com</td>
          <td>+1 (893) 532-2218</td>
        </tr>
      </tbody>
    </table>
  </div>