<div class="col-sm-2">
    <button type="button" class="btn btn-primary"
    onclick="location.href='/lendings/add'">Thêm thẻ mượn
      <i class="fa fa-plus-square"></i>
    </button>
<span class="text" style="color: red;">Nút này dành riêng cho thủ thư, ko dành cho độc giả</span>
</div>