<span class="text" style="color: red;">Bảng cho thủ thư</span>
<div class="table-responsive">
    <table id="lendings" style="width: 100%;" class="table">
      <thead>
        <tr>
          <th>Mã độc giả</th>
          <th>Mã thẻ mượn</th>
          <th>Ngày mượn</th>
          <th>Hạn trả</th>
          <th>Tình trạng</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
      </thead>
      <tbody id="lendingList">
      </tbody>
    </table>
  </div>